* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #222222;
}

body {
  top: 10%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#wheelOfFortune {
  display: inline-block;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

#wheel {
  display: block;
}

#spin {
  font: 2.5em/0 sans-serif;
  user-select: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 55%;
  left: 55%;
  width: 20%;
  height: 20%;
  margin: -15%;
  background: #fff;
  color: #fff;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  transition: 0.8s;
}
#arrow {
  background-color: transparent;
  position: relative;
  left: 400px;
  bottom: 452px;
  display: block;
}
#arimg {
  background-color: transparent;
  scale: 50%;
  z-index: 1;
}
h1 {
  
  /* Font options */
 font: 2.5em/0 sans-serif;
 text-shadow: 2px 2px 4px #000000;
 font-weight: 900;
 position: relative;
 bottom: 2.5em;
 font-size:5em;
 
  /* Chrome, Safari, Opera */
 -webkit-animation: rainbow 5s infinite; 
 
 /* Internet Explorer */
 -ms-animation: rainbow 5s infinite;
 
 /* Standar Syntax */
 animation: rainbow 5s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
 0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Internet Explorer */
@-ms-keyframes rainbow{
  0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}

/* Standar Syntax */
@keyframes rainbow{
   0%{color: orange;}	
 10%{color: purple;}	
 20%{color: red;}
 30%{color: CadetBlue;}
 40%{color: yellow;}
 50%{color: coral;}
 60%{color: green;}
 70%{color: cyan;}
 80%{color: DeepPink;}
 90%{color: DodgerBlue;}
 100%{color: orange;}
}